html{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
header{
    display: inline-block;
        
    
}
li{
    display: inline-block;
}
#logo{
    display:inline-block;
    height: 50px;
    padding-left: 10px;
}