html{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    display: block;
}

/* navigation styles */
li, a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0px;
    height: 69px;
    width: 100%;
    background-color: black;
    z-index: 1;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    margin-left: 10px;
    height: 50px;
    display: flex;
}

.navLinks{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
    text-decoration: underline;
}

.navLinks li a:hover{
    color: #0099a9;
}

#spacer{
    position: relative;
    height: 69px;
}


/* Our Mission sections styles */
.mission{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1200px;
    background-image: url(./resources/images/img-mission-background.webp);
    opacity: 70%;
    margin-left: auto;
    margin-right: auto;
}

.ourMission{
    background-color: black;
    width: 100%;
}
.ourMission h2{
    text-align: center;
    margin-bottom: 0%;
}

.ourMission p{
    text-align: center;
    margin-top: 0%;
}


/* tea of the month styles */

.teaMonth{
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    flex-direction: column;
}

.teaIntro h1{
    text-align: center;
}

.teaIntro p{
    text-align: center;
}

.differentTeas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 70%;
}

.teaImage{
    height: 200px;
    width: 300px;
}

.teaName{
    text-align: center;
    margin-top: 5px;
}

.tea{
    padding-right: 25px;
}





